* {

	box-sizing: border-box;

}

body {
	margin: 0;


}

.wrapper {
	padding-top: 11vh;
	padding-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	max-width: 1250px;
	min-width: 360px;
	overflow: hidden;
}
 .mygallery{
	 margin: 0 auto;
 }

#myInput{
	width: 60%;
	height: 25px;
	margin: 0 auto;
	outline: 0;
	overflow: hidden;
	perspective: 1px;
	padding: 15px;
	box-shadow: 2px 2px 2px 1px rgb(89,255, 235, 0.5);
	border-radius: 6%;
	display: block;
	align-items: center;
	border: white;	
}



.mygallery a {
	margin: 0 auto;
	text-align: center;
	display: block;
	width: 50%;
	padding: 10px;
	float: left;

}

img {
	width: 100%;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

@media (min-width: 768px) {
	.wrapper{
		width: 80%;	
	}
   
	#myInput {
		width: 50%;	
	}

	.mygallery a {
		width: calc(33% - 20px);
		padding: 20px;
		margin-left: 15px;
		text-align: center;
	}
}

@media (min-width: 1024px) {
	
	.mygallery a{
		width: calc(25% - 20px);
	}

}
